{
  // https://prettier.io/docs/en/integrating-with-linters.html
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": { "node": true, "es6": true },
  "rules": {
    "prettier/prettier": "error"
  }
}
